<h3 class="text-center mt-5">Lista de usuarios</h3>
<div class="row">
    <div class="col-md-10 mx-auto">
        <div class="card shadow-lg">
            <div class="card-body">
                <div class="box">
                    <%= link_to "Nuevo usuario", new_user_path(@user), class: "btn btn-info btn-sm mb-2" %>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <th>Identificación</th>
                                <th>Primer nombre</th>
                                <th>Segundo nombre</th>
                                <th>Primer apellido</th>
                                <th>Segundo apellido</th>
                                <th>Email</th>
                                <th>Dirección</th>
                                <th>Telefono</th>
                                <th>Sexo</th>
                            </thead>
                            <tbody>
                                <%= render @users %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
